li {
  margin-top: 20px;
  cursor: pointer;
}

.mat-drawer-content {
  height: 93vh !important;
}

.header-color {
  background-color: rgb(235, 235, 235);
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 80px;
}

.mat-sidenav {
  width: 140px;
}