<div class="fadeIn">
  <div class="content-img fadeIn">

    <div class="div1"></div>

    <div class="div2">
      <span>Dê uma olhada no nosso catálogo</span><br>
      <span>Quer fazer um orçamento? Entre em contato conosco</span>
    </div>

    <div class="div3">
        <button class="button" routerLink="product/catalog-product">
            Catálogo
        </button>
    </div>

    <div class="div4"></div>

  </div>

  <div class="how-works" id="how">
    <div class="texts" #teste>
      <span>VENHA CONHECER!</span><br><br>
      <span>
        Que tal fazer as suas compras sem precisar sair de casa? Então confira a nossa loja virtual. 
        Os mesmos produtos e qualidade que você encontra nas nossas lojas físicas! 
        Agora também online para você! <br><br>

        Cliente que faz parte do nosso programa de fidelidade tem acesso a descontos exclusivos em 
        todo o nosso site! Não perca tempo e inscreva-se agora mesmo! É gratuito! Descontos exclusivos
         e produtos de qualidade, você só encontra aqui!
      </span>

    </div>
  </div>
</div>
