.table {
    margin:100px 0 0 0;
}

th {
    font-size: 18px;
    font-weight: bolder;
}

td {
    vertical-align: middle;
}

.filter-button {
    margin-top: 19px;
}

.formFilter {
    margin-top: 60px;
}

.invalid span {
    color: rgb(255, 10, 10);
}

.sem-registro {
    background-color: #fff;
    text-align: center;
}

.sem-registro span {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    line-height: 40px;
    font-size: 1rem;
}

.filter-button:nth-child(2) {
    margin-left: 15px;
}

.action-icon {
    color: rgb(88, 87, 87);
    cursor: pointer;
}

.icons {
    display: flex;
}