/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

li a, div a {text-decoration: none; font-weight: bolder;}

li {list-style: none; display: flex; align-items: center;}

span, a{font-family: 'Poppins', sans-serif;}

div ul {padding-left: 5px;}

:root {
    --text-black: black;
    --text-white: white;
    --title: rgb(151, 150, 150);
  }
  
  .green-snackbar {
    background: #0ca314;
    color: white !important;
    font-weight: bolder !important;
  }

  .red-snackbar {
    background: #fc0000;
    color: white !important;
    font-weight: bolder !important;
  }

  .main {
    margin: 40px 0 40px 40px;
}